<!DOCTYPE html>
<html>
<head>
<title>select location</title>
<meta charset="utf-8" />
<meta name="viewport"
  content="width=device-width, initial-scale=1.0">
<!-- Get the leaflet CSS file -->

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<h1>Select the location from where you need nearest location</h1>

<div class="form-popup" id="myForm">
<form action="viewpoints" method="POST" class="form-container">
    <h1>When you select a location the coordinates are auto filled. You need to only click send button</h1>

    
    <label for="latitude"><b>Latitude</b></label>
    <input id='ipid1' type="float" placeholder="latitude" name="latitude" required>

    <label for="longitude"><b>Longitude</b></label>
    <input id='ipid2' type="float" placeholder="longitude" name="longitude" required>

    

    <button type="submit" class="btn">Send</button>
  </form>
</div>

<!--<div id="map"></div>-->
<!-- Specify the map and it's dimensions -->
<div id="map" style="width: 100%; height: 600px"></div>

<!-- Get the leaflet JavaScript file -->

<script>
var map = L.map('map').setView([11,79], 7);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var gcs = L.esri.Geocoding.geocodeService();

  map.on('click', (e)=>{
    gcs.reverse().latlng(e.latlng).run((err, res)=>{
      if(err) return;
      L.marker(res.latlng).addTo(map);
      var l1=parseFloat(res.latlng['lat']);
      var l2=parseFloat(res.latlng['lng']);
      
      document.getElementById("ipid1").value=l1;
      document.getElementById("ipid2").value=l2;
      });

  });
</script>
</body>
</html>
